<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.babybloom.web.mapper.UserIdMapper" >
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO t_user_id
        (
        guid,
        submitTime
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item},
                NOW()
            )
        </foreach>
    </insert>

    <select id="getId" resultType="string">
        select guid from t_user_id_${tableSuffix} limit ${offset},1
    </select>

    <delete id="del" parameterType="string">
        DELETE FROM t_user_id where guid = #{guid}
    </delete>
</mapper>